/*Commit to Respage*/
body {
    font-family: 'Poppins', sans-serif;
    width: auto;
    background-color: #e1dad8;
}

/*Main section*/
.imgs {  
    border: 2px solid white;  
}

#res-pictures {
    margin: 5px;
    float: left;
    max-width: 50%;
    clear: right;  
}

section {
    border: 1px solid black;
}

#res-description {
    background-color: #FFFFFF;
    max-width: 50%;
    float: left;   
}

#ratings {
    clear: left;
}

/*Reviews + Ratings*/
#Stars{
    margin: 5px;
    padding-right: 30px;
   
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#ratings p {
    padding: 2px;
}

#reviews-header {
    background-color: #1c467d;
}
#reviews-header h2 {
    justify-content: center;
}

#reviews-container {
    background-color: #FFFFFF;
    max-width: 50%;
    float: left;
}

#map {
    background-color: #FFFFFF;
    max-width: 49%;
    float: left;
    clear:right;
    margin-left: 5px;
}

/*Footer*/
#footer {
    border: 1px solid black;  
    margin: 10px 0px 10px 0px; 
    background-color: #1c467d;
    clear: left;
}

