
.header{
    background-color: white;
    width: 85em;
    height: 15em;
    margin-left: 2px;
    margin-right: 2px;
   
}
.tab{
    background-color: grey;
    width: 84em;
    height: 4em;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: -100px;
}
.logo{
    float: left;
    width: 60%;
    height: 40%;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.logo img{
    width: 17em;
    height: 14em;
    border-radius: 4px;
    padding: 2px;
    

}
.Name{
    max-width: 100%;
    float: right;
    width: 60%;
    height: 40%;
    margin-top: -95px;
    margin-bottom: 2px;
    padding-left: 250px;
    margin-right: 5px;
    background-color: #1c467D;
    height: 14em;



}
.Name img{
    width: 60em;
    height: 14em;
    border-radius: 4px;
    padding: 2px;
    margin-left: -210px;
    
}

#searchImage {
    background-color: #1c467D;
    float: left;
    width: 30px;
    padding: 10px;
    margin-top: 18px;
    height: 12px;
    font-size: 17px;
    border: 1px solid black;
    border-left: none; 
    cursor: pointer;
    margin-left: -1px;

    image-rendering:auto;
    
}
.tab input{
    float: left;
    margin-left: 10px;
    border: 1px solid black;
    margin-top: 18px;
    border-radius: 0px;
    height: 30px;
    width: 350px;

}

.tab a{
    text-decoration: none;
    width: 10%;
    margin-top: 30px;
    border : 1px solid black;
    text-align: center;

}
.contacts{
    float: left ;
    margin-left: 60px;
    background-color: #1c467D;
    color: white;
    border: none;
    height: 30px;
    margin-top: 17px;

   
}
.tab .contacts{
    margin-top: 20px;
}
.about{
    float: left;
    margin-left: 80px;
    background-color: #1c467D;
    color: white;
    padding: 0px;
    border: 0px;
    height: 30px;
    margin-top: 18px;
    
    
}
.tab .about{
    margin-top: 20px;
}
.AddRes{
    float: left;
    margin-left: 100px;
    background-color: #1c467D;
    color: white;
    height: 30px;
    margin-top: 1px;
   

}
.tab .AddRes{
    margin-top: 20px;
}
.footer{
    background-color: #1c467D;
}