footer{
    float: left;
    background-color: #1c467D;
    margin-top: 200px;
    clear: both;
    width:100%;
    padding-top: 15px;
   
}
.emailicons{
    margin-left: 500px;
    margin-bottom: -171px;
   

}
.tel{
    margin-left: 740px;
    margin-bottom: -130px;
}
.insta{
    margin-left: 620px;
    margin-bottom: -92px;
   

}
.twitter{
    margin-left: 680px;
    margin-bottom: -52px;

}
.links{
    margin-left: 460px;   
}
.links a{
    color:black;
}
.copyrights{
    margin-left:499px ;
    
}
.youtube{
    margin-left: 565px;
    
}