footer{
    float: left;
    background-color: #1c467D;
    margin-top: 50px;
    clear: both;
    width:100%;
    padding-top: 15px;
   
}

/* aligning icons and links in the footer*/
.grouped_items {
    text-align: center;
}

.grouped_items a{
    color: white;
}

.social_icons {
    width: 15px;
    height: 15px;
    margin: 5px;
}