* {
    box-sizing: border-box;
}

#body {
    background-color: #E1DAD8;
    

}

header {
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: #272a4a;  
}

#logoImg {
    width: 100px;
    border-radius: 50%;
}

#resName {
    font-size: 18pt;
    color: white;
}

#searchRes {
    width: 200px;
    height: 35px;
    border-radius: 15px;
}

#searchSymbol {
    width: 100px;
}

.header_links {
    border: 10px solid #272a4a;
    background-color: #E1DAD8;
    color:black;
    border-radius: 20px;
    text-decoration: none;
    height: 50px;
    padding-top: 3px;
}

#Apply {
    background-color: #7ED956;
    border-radius: 10px;
    border: 10px solid #272a4a;
    height: 50px;
    border-radius: 20px;
    color:black;
    
}

/* Container to display all reses */
#searchResults {
    max-width: 100%;
    min-height: 200px;
    margin-top: 9px;
    background-color: white;
}

/* Boxes that display each res*/
.res_container {
    justify-content: center;
    height: fit-content;
    border: 10px solid  #E1DAD8;
    margin: 0px;
    background-color: #272a4a;
    float: left;
    padding-bottom: 3px;
}

/*Picture displayed per res*/
.displayPic {
    padding-top: 10px;
    width: 100%;
    height: 50%;
}

/*Res title for all reses*/
#res_title {
  font-size: 2em;
  color: white;
  text-align:center;
  min-height: 3em;
  height: fit-content;
}

/*Res properties display*/
.res_info {
  background-color: #E1DAD8;
  border-bottom: 1px solid black;
  text-align: center;
}

/* Button to view accomodation */
.view_acc {
  text-decoration: none;
  background-color: #7ED956;
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 20px;
}

/*Positioning the filter box*/
#filters {
    min-width: 5%;
    background-color: #7ED956;
    padding: 10px;
    margin: 10px;
    float: left;
}


/*filter heading*/
h3 {
    text-align: center;
    background-color: #272a4a;
    color: white;
    padding: 2px;
}

/*Sub headings inn the filter box*/
h4 {
    color: white;
}

/*Styling the two buttons under location filter*/
.locationButtons {
    background-color: #E1DAD8;
    margin: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 5px 4px;
}

.locationButtons:hover {
    background-color: white;
    transition: 2s;
}

/* used to switch between location types in filter */
.hide {
    display: none;
}

.show {
    display: all;
}

/*min and max input boxes*/
.price {
    width: 120px;
}

#priceRange {
    width: 250px;
}

/*aligning the sliding image, will remove with javascript*/
#slideMage {
    width: 25%;
    height: 25%;
    justify-content: center;
    height: 200px;
    margin: 10px;
    background-color: #307297;
    float: left;
}


/*arrows surrounding the the sliding image*/
.arrow {
    background-color: transparent;
    border: none;
    width: 50px;
    size: 100px;
    height: 100px;
    float: left;
    margin-top: 5%;
}

/*Container for the sliding image*/
.ReSlideShow {
    max-width: 60%;
    margin: auto;
    position: relative;
}
.Res{
    display: none;
}
.Res img {
    width: 99%;
    height: 400px;
}

.before, .after{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    transition: 0,6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.after{
    right: 0;
    border-radius: 3px 0 0 3px;

}
.before:hover, .after:hover{
    background-color: rgb(0,0,0,0,8);
}
.caption{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.bullet{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 24%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .bullet:hover {
    background-color: #717171;
  }

.fades {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }


footer{
    float: left;
    background-color: #272a4a;
    margin-top: 50px;
    clear: both;
    width:100%;
    padding-top: 15px;
   
}

/* aligning icons and links in the footer*/
.grouped_items {
    text-align: center;
}

.grouped_items a{
    color: white;
}

.social_icons {
    width: 15px;
    height: 15px;
    margin: 5px;
}
.aboutHeader{
    margin-left: 50%;
    color:black;
}
#about_us{
    text-align: left;
    
    
    
}


