.Loginshow-btn{
    position: relative;
    font-size: 35px;
    left: 1200px;
    top: 0px;
    height: 45px;
    width: 30%;
    border: none;
    background-color: transparent;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
    /*-webkit-transition-property: transform;
    transition-property:transform;*/
}

input[type = "checkbox"]{
    display: none;
}

#show:checked ~ .logincontainer{
    display: block;

}

.logincontainer{
    display: none ;
    height: 500px;
    width: 350 px;
    padding: 60px;
    border-radius: 4px;
    background-color:#faf7f6;
    border: 5px solid #1c467D;

}



.logincontainer{
    position: absolute;
    top : 60%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.logincontainer .close-btn{
    position: absolute;
    right: 20px;
    top : 15px;
    font-size: 50px;
    color: #1c467D;
    cursor: pointer;
}

#loginheading{
    color: #1c467D;
    font-size: 50px;
    margin: 0 0 30px;
    font-family: 'Lobster', cursive;
    


}

#loginemail {
    background-color: #faf7f6;
    position: relative;
    left: 30px;
    top: 0;
    height: 55px;
    margin-bottom: 60px;
    width: 80%;
    display: flex;
}

#loginpassword {
    background-color: #faf7f6;
    position: relative;
    left: 30px;
    top: 0;
    height: 55px;
    margin-bottom: 15px;
    width: 80%;
    display: flex;
}

.loginsubmit {
    height: 80px;
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    position: relative;
    left: 0px;
    top: 0px;
    width: 500px;
    background-color: #7ed956;
    border-radius: 7px;
    font-family: 'Staatliches', cursive;
    color:white;
    font-size: 25px;
    cursor: pointer;
    -webkit-transition-property: transform;
    transition-property:transform;
    box-shadow: 0px 0px 10px black;
}