

/*Overall auto margin and auto content box sizing */
*{
    margin: 0;
    box-sizing: border-box;
}

/* auto margin, family */
body{
    font-family: sans-serif;
    margin: 0;
}

.Background-box{
   max-width: 100%;
}  



/* Overall img and forms container*/

.Background-box .Register-box{
    background-color:#e1dad8;
    width: 100%;
}


.Background-box .Register-box .img-area .img{
    width: 100%;
    height: 200px;
    object-fit: cover;
   
}

/*forms container size*/
.Background-box .Register-box .form{
    max-width: 100%;
  
    
}


/* ADD Residence Heading sizing, color */
#mainheading{
    margin-top:10px;
    color: #1c467D;
    margin-left: 5%;
    font-family: 'Lobster', cursive;
}

.subheading {

    color: #39b53f;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}


/*.Background-box .box .form p1{

    color: rgb(194, 225, 162);
    opacity: 1;
    font-size: 14px;

}*/


/* forms input box sizing & design */

.Background-box .Register-box .form .form-control{
    border: none;
    border-bottom: 1px solid rgb(126, 125, 125);
    margin-bottom: 20px;
    margin-left: 15%;
    width: 40%;

    
}

.form-control::-webkit-input-placeholder{
    color: rgb(105, 153, 56);
    opacity: 1;
}

#label_description {
    width: 50%;
    color: rgb(105, 153, 56);
    opacity: 1;
    font-size: 1.2em;
}

#description {
    /*height: 55px;*/
    width: 70%;
    border-width: 3px;
    background-color: #ffffff;
}

h3 {
    padding-bottom: 35px;
}

#label_campus {
    width: 40%;
    display: flex;
    color: rgb(105, 153, 56);
    opacity: 1;
}

#campus_select{
    height: 30px;
    width: 40%;
    display: flex;
    background-color: #e6e6e6;
}

.campusoptions {
    color: rgb(94, 187, 0);
   
}

h4 {
    padding-bottom: 35px;
}

#Nasfas_label {
    margin-left: 15%;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    color: rgb(105, 153, 56);
}


#NotAccredited_label {
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    color: rgb(105, 153, 56);
    
}

#price {
    width: 20%;
}

#label_room {
    margin-top: 30px;
    margin-left: 15%;
    width: 40%;
    color: rgb(105, 153, 56);
    opacity: 1;
}

#room_select{
    height: 30px;
    margin-left: 15%;
    width: 40%;
    display: flex;
    background-color: #e6e6e6;

}


.roomoptions {
    color: rgb(94, 187, 0);
   
}

h5 {
    padding-bottom: 35px;
}

.upload-box{
    margin-left: 15%;
    font-size: 10px;
    padding: 0px;
    background:white;
    border-radius: 50px;
    border: rgb(0, 0, 0) 1px solid;
    outline: none;
    color:black;
    cursor: pointer;
    margin-bottom:20px;
}

::-webkit-file-upload-button{
    color:white;
    background: #7ed956;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background: #1c467D;

}

::-webkit-file-upload-button{
    color:white;
    background: #7ed956;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    cursor: pointer;
}
.Background-box .Register-box .form .error-text {
    background: #F8D7DA;
    text-align: center;
    margin-left: 350px;
    padding: 10px;
    border-radius: 5px;
    color: #a22020;
    display: none;
}


#password_show {
    margin-left: 15%;
    width: 40%;
    display: flex;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    display: none;

}

#verify {
    background: #1c467D;
    margin-left: 17%;
    padding: 5px;
    margin-top: 0;
    width: 20%;
    border-radius: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 25px;
    cursor: no-drop;
    opacity: 0.7;
    -webkit-transition-property: transform;
    transition-property:transform;
    box-shadow: 0px 0px 10px black;
    
}

.Register{
    margin: 5% 0px 0px 40%;
    padding: 5px 15px;
    background-color: #7ed956;
    border-radius: 7px;
    font-family: 'Staatliches', cursive;
    color:white;
    font-size: 45px;
    cursor: pointer;
    -webkit-transition-property: transform;
    transition-property:transform;
    box-shadow: 0px 0px 10px black;
}

.Register:hover, .Register:focus, .Register:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}