

/*Overall auto margin and auto content box sizing */
*{
    margin: 0;
    box-sizing: border-box;
}

/* auto margin, family */
body{
    font-family: sans-serif;
    margin: 0;
    
    
}

.Background-box{
   max-width: 100%;
   
 
}  

.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
   
}

/* Overall img and forms container*/
.Register-box{
    /*background-color:#e1dad8;*/
    
    width: 100%;
}



/*forms container size*/
#regform{
    max-width: 100%;
    margin-left: 10%;
  
    
}



/* ADD Residence Heading sizing, color */
#mainheading{
    margin-top:10px;
    color: #1c467D;
    margin-left: 5%;
    font-family: 'Lobster', cursive;
}

.subheading {

    color: #39b53f;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.subheading:hover, .subheading:focus, .subheading:active{
    color: #1c467D;
    -webkit-transform: scale(1.5);
    transform: scale(1.0);
}



label {
    width: 50%;
    color: rgb(105, 153, 56);
    opacity: 1;
    font-size: 1.2em;
}


p{
    font-size: 13px;
    padding-top: 20px;
}


/*.Background-box .box .form p1{

    color: rgb(194, 225, 162);
    opacity: 1;
    font-size: 14px;

}*/


/* forms input box sizing & design */

.form-input{
    border: none;
    border-bottom: 3px solid rgb(126, 125, 125);
    margin-bottom: 20px;
    margin-left: 5%;
    padding: 10px;
    width: 40%;

    

    
}

/*.form-input:focus{
    border-color: #39b53f;
    border-width: 20px;
    box-shadow: inset 50 200 500px #2fdb72;
}*/

.form-input:hover, .form-input:focus, .form-input:active{
    border-color: #39b53f;
    box-shadow: inset 50 200 500px #2fdb72;
    -webkit-transform: scale(1.1);
    transform: scale(1.0);
}

.form-input::-webkit-input-placeholder{
    color: rgb(105, 153, 56);
    opacity: 1;
    
}

#description {
    
    width: 70%;
    border-width: 3px;
    background-color: #ffffff;
}

#description:hover, #description:focus, #description:active{
    border-color: #39b53f;
    box-shadow: inset 50 200 500px #2fdb72;
    -webkit-transform: scale(1.1);
    transform: scale(1.0);
}

#physical_address{
    width: 60%;
}

#city{
    width: 25%;
}



#campus_select{
    height: 30px;
    width: 40%;
    display: flex;
    background-color: #e6e6e6;
}

.campusoptions {
    color: rgb(94, 187, 0);
   
}

#Nsfas_label {
    
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    color: rgb(105, 153, 56);
}


#NotAccredited_label {
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    color: rgb(105, 153, 56);
    
}

#price {
    
    width: 20%;
}



#room_select{
    height: 30px;

    width: 40%;
    display: flex;
    background-color: #e6e6e6;

}


.roomoptions {
    color: rgb(94, 187, 0);
   
}



.error-text {
    background: #ffffff;
    text-align: center;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    color: #a09eeb;
    display: none;
}



#verify {
   
    background: #1c467D;
    margin-left: 20%;
    padding: 5px;
    width: 10%;
    border-radius: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px black;
    
}

#verify .active:hover{
    background: #658bbb;
}

.Register{
    margin-left: 60%;
    padding: 5px 15px;
    width: 20%;
    background-color: #7ed956;
    border-radius: 7px;
    font-family: 'Staatliches', cursive;
    color:white;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition-property: transform;
    transition-property:transform;
    box-shadow: 0px 0px 10px black;
}

.Register:hover, .Register:focus, .Register:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

nav {
     background-color: #27284a;
    position: relative;
     box-shadow: 5px 0px 7px black;
    margin-bottom: 20px;
     padding: 20px;

    }
    nav.row{
    width: 100%;
    transition: .7s;

    }

    #nav_title {
     font-size: 24px;
     margin-top: 25px;
    position: relative;
    font-family:lobster;
    right: 5%;
    color: white;

    }

