/*-- footer{
    
    width: 100vh;
    height: auto;
    background: #243E61;
    font-family: sans-serif;
    color: white;
    padding-top: 40px;
} 

html{
    margin:0;
    padding:0;
    height:100vh;
    width: 100%;
}

body{
    margin:0;
    padding:0;
    height:100vh;
    width: 100%;
}*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: white;
}
.Welcome-text{
    text-align: center;
    background-color: #243E61;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 5px;
    width: 100%;
    height: 5vh;
   
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
}

main{
    padding: 0px;
    margin: 0px;
    display: flex;
}

.logo img{
    border-radius: 45px;
    width: 150px;
}

.web-img img{
    border-radius: 5px;
    width: 150px;
}

.login-box{
    background-color: #887E7E;
    padding: 20px;
    width: 100%;
    margin: 10px;

}

footer{
    background: #243E61;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

desc{
    padding: 0px;
    margin: 0px;
    display: flex;
}